#show {
  position: relative;
}

.boxitem {
  background: black;
  color: white;
  height: 30px;
  width: 40px;
  top: 0px;
  position: absolute;
  font-size: 24px;
  text-align: center;
  margin-right: 30px;
  border-radius: 5px;
}
